.formBorder{
    border:1px solid red; 
    border-radius:5px;
}

.whiteFont{
    color:whitesmoke;
}

#templateHeader{
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}

.errorField{
    border:1px solid red;
}

.errorText{
    color:red;
}